@import url("https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911&display=swap");

body {
  font-family: "Goudy Bookletter 1911", serif;
  color: #fff;
  margin: 0;
}

body::after {
  content: "";
  background: url("https://cms-assets.theasc.com/1-Libraries.jpeg?mtime=20180924121753g");
  background-size: cover;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.bookshelves-container {
  display: flex;
  justify-content: space-around;
}

.bookcase {
  background-color: #4c1c00;
  border-top: 10px solid #311200;
  border-bottom: 15px solid #311200;
  border-radius: 0px;
  padding: 10px;
  min-width: 20vw;
  max-width: 36vw;
  min-height: 60vh;
}

/* 
.line {
  grid-column: 1 / -1;
  height: 2px;
  width: 100%;
} */
