@import url("https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911&display=swap");

body {
  font-family: "Goudy Bookletter 1911", serif;
  color: #fff;
}

body::after {
  content: "";
  background: url("https://cms-assets.theasc.com/1-Libraries.jpeg?mtime=20180924121753g");
  background-size: cover;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.title {
  width: 100%;
  top: 0;
  padding: 20px;
  font-size: 50px;
  background: #fff;
  color: brown;
  border-radius: 10px;
}

h2 {
  background: #fff;
  border-radius: 10px;
  color: brown;
  padding: 10px;
}

.bookshelves-container {
  display: flex;
  justify-content: space-around;
}

.bookcase {
  background-color: #6b3200;
  border-radius: 10px;
  padding: 10px;
  min-width: 36vw;
  max-width: 36vw;
  min-height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, minmax(200px, auto));
  justify-items: center;
}

.line {
  grid-column: 1 / -1;
  height: 2px;
  border-bottom: 2px solid white;
  width: 100%;
}

.bookCard {
}
